
    $main-color: #d82d00;
    $bg-color: #ecf5ea;
    $secondary-color: #f9ff9c;
    .container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
       
        margin: 0 auto;
        background-color: #000;
        color: #fff ; 
          
        &__lives {
            display: flex;
            justify-content: flex-end; 
            padding: 2rem;
        }
        
    .life {
        display: flex;
        width: 30px;
        height: 30px;
        background-image: url("./../../../assets/icons/heart-savannah.svg"); 
       }
    
    &__cards {
        max-width: 1020px;
        height: 100px;
        width: 60%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
        text-align: center;
        flex: none;
        color: $main-color;
    
    
        .card {
            background-color: $secondary-color;
            width: 23%;
            padding: 1rem 0;
            text-align: center;
            border-radius: 10px;
          
        }
    } 
    
    &__image {
      position: relative;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      background-color: $main-color;
      width: 20px;
      height: 20px;
    
    }
    
    .card__transition {
        position: absolute;
        left: 40%;
        top: 3rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $main-color;
        min-width: 7rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
    }
    
    
    .bottom {
        top: 18rem;
        transition: all 5s linear;
    }  
    
    }


    

