.english-puzzle {
  background: #faede7;
  display: flex;
  max-width: 1020px;
  justify-content: center;
  margin: auto;
  height: 100vh;
  padding: 100px 30px;
  user-select: none;
  .game-puzzle__container {
    width: 100%;
    .game-puzzle__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .progress-bar-game {
      width: 100%;
      position: relative;
      height: 0.25rem;
      background-color: #dcdcdc;
      border-radius: 0.125rem;
      .progress-percent-game {
        border-radius: 0.125rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 0.25rem;
        width: 0;
        transition: width 200ms ease;
        z-index: 10;
        background-color: #092c70;
      }
    }
  }
}
