@font-face {
  font-family: "Literata", "Roboto";
  src: url("../../../assets/fonts/Literata-Bold.ttf") format("ttf"),
    url("../../../assets/fonts/Literata-Regular.ttf") format("ttf"),
    url("../../../assets/fonts/Literata-VariableFont.ttf") format("ttf"),
    url("../../../assets/fonts/RobotoMono-Bold.ttf") format("ttf"),
    url("../../../assets/fonts/RobotoMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.english-puzzle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.226)),
    url(../../../assets/images/background-puzzle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 100px);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: "RobotoMono", sans-serif;
  padding-bottom: 10px;
  .english-puzzle__wrapper {
    width: 100%;
    .game-puzzle__container {
      max-width: 1200px;
      margin: auto;
      .game-puzzle__header {
        position: fixed;
        z-index: 2;
        top: 60px;
        left: 0;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
        border-bottom: 2px solid #000000;
        @media (max-width: 735px) {
          flex-direction: column;
          height: 140px;
          position: static;
        }
        @media (max-width: 420px) {
          flex-direction: column;
          height: 200px;
        }
        .dropdown__options_container {
          display: flex;
          align-items: center;
          padding-right: 50px;
          .select-level {
            width: 100px;
          }
        }
        .checkbox__options_container {
          display: flex;
        }
      }
      .puzzle-content {
        padding: 0 20px;
        padding-top: 50px;
      }
      .progress-bar-game {
        width: 100%;
        position: relative;
        height: 0.25rem;
        background-color: #dcdcdc;
        border-radius: 0.125rem;
        box-shadow: 0 3px 0.5rem #ffffff;
        margin-bottom: 20px;
        .progress-percent-game {
          border-radius: 0.125rem;
          position: absolute;
          left: 0;
          top: 0;
          height: 0.25rem;
          width: 0;
          transition: width 200ms ease;
          z-index: 10;
          background-color: #092c70;
        }
      }
    }
  }

  .button {
    width: auto;
  }

  .btn-start {
    width: 300px;
  }

  .dynamic-btn {
    background-image: url(../../../assets/icons/dynamic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    border: 0;
    background-color: #c0c3c5;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    &.playing {
      background-image: url(../../../assets/icons/dynamicPlaying.svg);
    }
    &:hover {
      cursor: pointer;
    }
    &:active,
    &:focus {
      outline: none !important;
    }
  }
}
