.game-board {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 0.5rem #d9d9d9;
  border-radius: 0.5rem;
  align-items: center;
  margin: 50px 0;
}

.game-board__action {
  .puzzle-container {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #e6e9ee;
    border-radius: 4px;
    margin-bottom: 32px;
    background-color: rgba(126, 145, 159, 0.02);
  }
  .puzzle-pieces {
    display: flex;
  }
  .puzzle-container {
    display: flex;
  }
}



.word-drag {
  margin: 0 6px 12px;
  width: auto;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #e6e9ee;
  background-color: #fff;
  outline: none;
  .word-text {
    width: auto;
    min-width: 38px;
    min-height: 38px;
    transition: all 0.2s ease;
    border-radius: 4px;
    border: none;
    background-color: #f4f6f7;
    padding: 8px 10px;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
