#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1020px;
  margin: auto;
  height: 100%;
  .title {
    text-transform: uppercase;
    font-size: 6rem;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .description {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 100;
    p {
      text-align: center;
      margin: 0;
    }
  }
}
