@font-face {
  font-family: "Literata", "Roboto";
  src: url("../../../assets/fonts/Literata-Bold.ttf") format("ttf"),
  url("../../../assets/fonts/Literata-Regular.ttf") format("ttf"),
  url("../../../assets/fonts/Literata-VariableFont.ttf") format("ttf"),
  url("../../../assets/fonts/RobotoMono-Bold.ttf") format("ttf"),
  url("../../../assets/fonts/RobotoMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.difficulty-evaluation {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80vw;
  display: flex;
  font-family: "RobotoMono-Regular", serif;

  .difficulty-button {
    width: 130px;
    height: 30px;
    border: 2px solid #092c70;
    color: #000000;
    font-family: "RobotoMono-Regular", serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;

    &_easy {
      background-color: #339900;
    }
    &_normal {
      background-color: #99cc33;
    }
    &_hard {
      background-color: #ff4f00;
    }
    &_again {
      color: white;
      background-color: #092c70;
      border: 2px solid #f00002;
    }

    &:hover {
      filter: brightness(110%);
    }
  }
}

@media (max-width: 639px) {
  .difficulty-evaluation {
    margin-top: 10px;
    flex-direction: column;

    .difficulty-button {
      margin: 0;
      width: 70vw;
      height: 40px;

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }
}
