@font-face {
  font-family: "Literata", "Roboto";
  src: url("../../../assets/fonts/Literata-Bold.ttf") format("ttf"),
    url("../../../assets/fonts/Literata-Regular.ttf") format("ttf"),
    url("../../../assets/fonts/Literata-VariableFont.ttf") format("ttf"),
    url("../../../assets/fonts/RobotoMono-Bold.ttf") format("ttf"),
    url("../../../assets/fonts/RobotoMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.study-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-container {
    display: flex;
    margin: 0 10px;
    width: 100%;
  }
  .card {
    width: 100%;
    background: #faede7;
    box-shadow: 0 3px 0.5rem #d9d9d9;
    border-radius: 0.5rem;
    padding: 0 2.5rem;
    @media (max-width: 700px) {
      padding: 0 10px;
    }

    &_difficult {
      background: repeating-linear-gradient(-45deg,
        #faede7,
        #faede7 10%,
        #faad99 10%,
        #faad99 20%);
    }
  }
}

.hints-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  .img-container,
  .transcription,
  .sentence,
  .sentence-translation {
    font-family: "RobotoMono-Regular", serif;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .img-container {
    display: flex;
    max-width: 300px;
    .card__image {
      border-radius: 7px;
      height: 200px;
      width: auto;
      border: 2px solid #092c70;
    }
  }
  .transcription {
    text-align: center;
  }
}

.learn-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-input {
  height: 4rem;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .answer-container {
    font-family: "RobotoMono-Regular", serif;
    font-size: 25px;
    position: relative;
    .answer-form {
      display: inline-block;
    }
  }
}

.input-container {
  position: relative;
  color: green;
  .background {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 27px;
    &.correct {
      background: #1fda4e7a;
    }
  }
  .word-container {
    padding: 1px 2px;
    position: absolute;
    left: 0;
    top: 0;
    .check-letter {
      opacity: 1;
      transition: 1s;
      animation: show 2s 1;
      animation-fill-mode: forwards;
    }
    .incorrect-letter {
      color: #f00002;
    }

    .warning-letter {
      color: #f07002;
    }
    @keyframes show {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.7;
      }
    }
  }
  .hidden {
    visibility: hidden;
  }
}

.answer-input {
  background: transparent;
  border: 0 none;
  outline: none;
  color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}

.translation-container {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 1;
  width: 100%;
  height: auto;
  padding: 0.125rem 0 0;
  border-top: 1px solid #efe6e1;
  box-sizing: border-box;
  align-self: center;
  .translation {
    font-family: "RobotoMono-Bold", serif;
  }
}

.dynamic-icon {
  width: 39px;
  &:hover {
    cursor: pointer;
  }
}

.navigate-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  .btn-next-card {
    padding: 13px;
    margin: 0;
    border: 0;
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background: #f9efeb59;
    }
    &:disabled {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  img {
    width: 23px;
    height: 47px;
  }
}

.buttons-block {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  .learn-btn {
    width: 180px;
    transition: all 0.3s;
    box-shadow: 0 0 0 2px #f00002;
    &:disabled {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
  .delete-btn {
    background: #af0001;
    box-shadow: 0 0 0 2px #092c70;
    &:hover {
      background: #da3d3dd7;
    }
  }
  .button {
    margin: 0 10px;
    @media (max-width: 700px) {
      width: 100%;
      margin: 10px 0;
    }
  }
}
