h2 {
  font-family: "Literata", sans-serif;
  font-size: 32px;
  line-height: 48px;
  color: #092c70;
}

.main-page {
  max-width: 1020px;
  .main-page_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #faede7;
    margin-bottom: 130px;
    margin-top: 50px;
    padding: 10px 60px;
    .options-settings {
      display: flex;
      flex-direction: column;
      padding-right: 360px;
    }
    .options-learning {
      display: flex;
      flex-direction: column;
    }
  }
}

.main-page_progress-container {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #faede7;
  padding: 50px 60px;
  .learned-words,
  .need-words {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .text {
      margin-right: 30px;
    }
  }
  .progress-container_level {
    width: 30%;
  }
}

.progress-bar {
  position: relative;
  height: 0.25rem;
  background-color: #dcdcdc;
  border-radius: 0.125rem;
  width: 180px;
  .primary {
    border-radius: 0.125rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 0.25rem;
    width: 0;
    transition: width 200ms ease;
    z-index: 10;
    background-color: #092c70;
  }
}
