.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-page-container {
    max-width: 1020px;
    margin-bottom: 30px;
    h2 {
      font-family: "Literata", sans-serif;
      font-size: 32px;
      line-height: 48px;
      color: #092c70;
    }
  }

  .main-page_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #faede7;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 10px 60px;
    border-radius: 5px;
    .options-settings {
      display: flex;
      flex-direction: column;
    }
    .options-learning {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 700px) {
      justify-content: center;
      padding: 10px 10px;
    }
  }
  @media (max-width: 1030px) {
    min-width: 900px;
  }
  @media (max-width: 900px) {
    min-width: 0;
  }
}
