.vocabulary {
  box-sizing: border-box;
  position: relative;
  min-height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ffffff;

  * {
    box-sizing: inherit;
  }

  p, h4 {
    margin: 0;
  }

  &__tab-list {
    position: fixed;
    padding: 0;
    width: 90vw;
    height: 35px;
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    border-bottom: 2px solid #092c70;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 #ffffff;
  }

  &__tab {
    min-width: 90px;
    height: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #092C70;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    background-color: #FAEDE7;
    cursor: pointer;
    transition: transform 0.2s, font-weight 0.2s;

    &_active {
      position: relative;
      transform-origin: bottom;
      transform: scale(1.06);
      height: 30px;
      bottom: -2px;
      color: #092C70;
      font-weight: bold;
      background-color: #ffffff;
    }
  }

  &__panel {
  }


  &__words {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__example {
    margin: 0;

  }

  &__meaning {
    margin: 0;

  }
}
