.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;  
}

.score span {
  font-family: 'Literata', cursive;
  font-size: 50px;
  letter-spacing: 10px;
  color: #AF0001;
}