.sprint {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../../../assets/images/sprint_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.sprint h1, .sprint h2, .sprint h3 {
  font-family: 'Literata', serif;
  text-align: center;
}

.sprint p, .sprint label, .sprint span, .sprint button, 
.sprint table, .sprint tr, .sprint th {
  font-family: 'Open Sans', sans-serif;
}

// Start screen

.splash {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;  
  width: 400px;
  margin: 20px 0;
  background-color: #FAEDE7;
  border-radius: 50px;
}

@media only screen and (max-width: 620px) {
  .splash {
    width: 300px;
  }
}

.splash h1 {
  display: inline-block;
  font-size: 80px;
  margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;  
  color: green;
}

@media only screen and (max-width: 620px) {
  .splash h1 {
    font-size: 60px;
  }
}

.splash p {
  font-size: 22px;
  margin: 0 30px 10px;
  text-align: justify;
}

@media only screen and (max-width: 620px) {
  .splash p {
    font-size: 18px;
  }
}

.splash span {
  font-size: 22px;
}

@media only screen and (max-width: 620px) {
  .splash span {
    font-size: 18px;
  }
}

.sprint__start-form {
  width: 260px;
  
}

@media only screen and (max-width: 620px) {
  .sprint__start-form p {
    font-size: 18px;
  }
}

.splash button {
  margin: 30px 0;
  background-color: green;
}

.splash button:disabled {
  background: #dddddd;
  cursor: default;  
}

.sprint__start-warning {
  margin: 0 30px;
  font-size: 24px;
  color: #F10002;
}

@media only screen and (max-width: 620px) {
  .sprint__start-warning {
    font-size: 18px;
  }
}

.sprint__start-select {
  font-size: 24px;
}

@media only screen and (max-width: 620px) {
  .sprint__start-select {
    font-size: 18px;
  }
}

.splash select {
  width: 100px;
  height: 30px;
  padding-left:10px;
}

.splash label {
  font-size: 22px;
  
}

@media only screen and (max-width: 620px) {
  .splash label {
    font-size: 18px;
  }
}

// Game

.panel {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 30px 0;
  background-color: #FAEDE7;
  border-radius: 50px;
}

@media only screen and (max-width: 620px) {
  .panel {
    width: 300px;
    border-radius: 30px;
  }
}

.words_selection {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100px;
  height: 100%;
}

// Score

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;  
}

@media only screen and (max-width: 620px) {
  .score {
    width: 100px;
  }
}

.score span {
  font-family: 'Literata', cursive;
  font-size: 50px;
  letter-spacing: 10px;
  color: #AF0001;
}

@media only screen and (max-width: 620px) {
  .score span {
    font-size: 40px;
  }
}

// Timer

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FAEDE7;
}

@media only screen and (max-width: 620px) {
  .panel {
    width: 300px;
  }
}

.timer span {
  font-family: 'Literata', cursive;
  font-size: 50px;
  color: #000;
}

@media only screen and (max-width: 620px) {
  .timer span {
    font-size: 40px;
  }
}

// runners

.factors {
  width: 200px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 5px solid #AF0001;
}

.factors_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.factor {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url('../../../assets/icons/sprinter.svg');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;  
}

.factor:last-child {
  margin-right: 0;
}

.board {
  width: 600px;
  height: 550px;
  margin-bottom: 30px;
  border-radius: 50px;
  background-color: #FAEDE7;
}

@media only screen and (max-width: 620px) {
  .board {
    width: 300px;
    border-radius: 30px;
  }
}

// Score for word

.wordscore {
  height: 100px;  
  text-align: center;
}

.wordscore p {
  font-size: 24px;
  line-height: 24px;
}

.wordscore p span:first-child {
  margin-right: 10px;
}

.yes_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.yes,
.empty {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;  
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.yes {
  background-image: url('../../../assets/icons/yes.svg');
  background-color: green;
}

.empty {
  background-color: #ccc;
}

.yes:last-child, 
.empty:last-child {  
  margin-right: 0;
}

// Words

.words-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.eng_word {
  font-size: 36px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 620px) {
  .eng_word {
    font-size: 30px;
  }
}

.rus_word {
  font-size: 30px;
}

@media only screen and (max-width: 620px) {
  .rus_word {
    font-size: 24px;
  }
}

.yes_large {
  visibility: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  top: -30px;
  border-radius: 50%;
  background-color: green;
  background-image: url('../../../assets/icons/yes.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.checking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprint button {
  cursor: pointer;
  height: 50px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  color: #fff;
}

#success {
  background-color: green;  
}

#fail {
  background-color: #F10002;
  margin-right: 20px;
}

.arrow_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 30px;
}

#wrong_arrow,
#correct_arrow {
  cursor: pointer;
  height: 100%;
  width: 50px;
  background-color: #FAEDE7;  
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#wrong_arrow {
  margin-right: 20px;
  background-image: url('../../../assets/icons/arrow_red.svg');
}

#correct_arrow {
  background-image: url('../../../assets/icons/arrow_green.svg');
  transform: scale(-1);
}

// results

.result {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;  
  width: 400px;
  margin: 20px 0;
  background-color: #FAEDE7;
  border-radius: 50px;
}

@media only screen and (max-width: 620px) {
  .result {
    width: 300px;
  }
}

.result h3 {
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.result p {
  margin: 10px 30px;
}

@media only screen and (max-width: 620px) {
  .result h3 {
    font-size: 24px;
  }
}

.result_score {
  font-family: 'Literata', serif;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 5px;
  color: #AF0001;
}

.question {
  font-size: 22px;
  margin: 0 50px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  .question {
    font-size: 18px;
  }
}

#btn_no,
#btn_yes {
  margin: 20px 0;
}

#btn_no {
  background-color: #F10002;
  margin-right: 20px;
}

#btn_yes {
  background-color: green;
}

.bestresults {
  margin: 0 auto;
  font-size: 1.2em;
  margin: 20px 0 20px;
  text-align: center;
  border-bottom: 2px solid green;
}

.bestresults thead {
  background: green;
  color: white;
}

.bestresults thead tr th {
  font-weight: bold;  
  padding: 12px 10px;
}

@media only screen and (max-width: 620px) {
  .bestresults thead tr th {
    font-size: 18px;
    padding: 10px 10px;
  }
}

.bestresults tbody tr {
  font-size: 22px;
  color: black;
}

@media only screen and (max-width: 620px) {
  .bestresults tbody tr {
    font-size: 18px;
  }
}

.bestresults tbody tr td {  
  padding: 12px 20px;
}

@media only screen and (max-width: 620px) {
  .bestresults tbody tr td {
    padding: 10px 10px;
  }
}