.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FAEDE7;
}

.timer span {
  font-family: 'Literata', cursive;
  font-size: 50px;
  color: #000;
}