.words-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.eng_word {
  font-size: 36px;
  margin-bottom: -20px;
}

.rus_word {
  font-size: 30px;
}