.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;

  &__heading {
    margin: 0;
    font-size: 30px;
    color: #092C70;
  }

  &__video {
    border-radius: 10px;
    min-width: 300px;
    min-height: 240px;
  }
}


