.promo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: #111111;
  background-color: #FAEDE7;

  &__slogan {

  }

  &__advantages {

  }

  &__instructions {

  }

  &__presentation {

  }

  > * {
    padding: 30px 0;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  text-align: center;
}

.brand {
  display: inline-block;
  color: #092C70;
  font-weight: 700;

  &:first-letter {
    color: #f00002;
  }
}
