@font-face {
  font-family: "Literata";
  src: url("../../../assets/fonts/Literata-Bold.ttf") format("ttf"),
  url("../../../assets/fonts/Literata-Regular.ttf") format("ttf"),
  url("../../../assets/fonts/Literata-VariableFont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.promo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: #111111;
  font-family: Literata;


  &__slogans {

  }

  &_-description {

  }

  &__advantages {

  }


  &__presentation {

  }

  > * {
    padding: 30px 0;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  text-align: center;
}

.brand {
  display: inline-block;
  color: #092C70;
  font-weight: 700;

  &:first-letter {
    color: #f00002;
  }
}
