.slogan__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .slogan__text {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .slogan__image {
    width: 90px;
    height: 90px;
  }

  &:nth-of-type(2n + 2) {
    flex-direction: row-reverse;
  }

  &:last-of-type {
    position: relative;
    margin-top: 50px;
    justify-content: center;
    min-height: 90px;
    font-size: 24px;

    .slogan__text {
      position: absolute;
      z-index: 1;
      font-size: 30px;
    }

    .slogan__image {
      position: absolute;
      width: 135px;
      height: 90px;
    }
  }
}
